body {
  text-align: center;
}

input {
  margin-top: 80px;
  margin-bottom: 30px;
  border: 0;
  font-size: 40px;
}

input:focus {
  outline: none;
}

ol {
  max-width: fit-content;
  margin: auto;
}

li {
  text-align: left;
  font-size: 38px;
}

li:hover {
  cursor: pointer;
  background-color: lightgray;
}

i {
  float: right;
  padding-left: 2vw;
}